$govuk-assets-path: "/disclose-import-taxes-underpayment/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/disclose-import-taxes-underpayment/assets/lib/hmrc-frontend/hmrc/";

@import "lib/govuk-frontend/govuk/all";
@import "lib/hmrc-frontend/hmrc/all";

.print-only {
    display: none;
}

@media print {
    .print-only {
        display: block;
    }

    .govuk-header {
        margin-bottom: 32px;
    }

    .hmrc-header__service-name {
        color: black !important;
    }

    .govuk-grid-column-two-thirds {
        width: 100%;
    }
}
